<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><span data-translate>LABEL_OVERVIEW_SCREEN_NAME</span></h2>
    </div>
    <div class="panel-body" id="screen-body" data-ng-cloak>
        <div id="http-error-block"></div>
        <div id="notification-block"></div>

        <div>
            <form class="form-horizontal">
                <fieldset class="well-gap">
                    <legend>{{'LABEL_SEARCH'|translate}}</legend>
                <div class="form-group form-group-last">
                    <div class="col-sm-3">
                        <input type="text" class="form-control" ng-model="serviceConcept" placeholder="{{'LABEL_SERVICE_CONCEPT' | translate }}">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" ng-model="modelPortfolio" placeholder="{{'LABEL_MODEL_PORTFOLIO_NAME' | translate }}">
                    </div>
                </div>
                </fieldset>
            </form>
        </div>

        <div class="well well-sm table-responsive">
            <div data-ng-repeat="portfolio in modelPortfolioList | filter:{name:modelPortfolio} | filter:{servicecnceptId:serviceConcept}">
                <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-default" is-open="status.open">
                        <uib-accordion-heading>
                            {{portfolio.servicecnceptId}} - {{portfolio.name}} - {{portfolio.selectionDate}}
                        </uib-accordion-heading>
                        <div>
                            <div class="table-responsive">
                                <table class="table table-bordered responsive-utilities">
                                    <thead>
                                    <th class="col-sm-6"></th>
                                    <th class="text-right col-sm-1">I</th>
                                    <th class="text-right col-sm-1">II</th>
                                    <th class="text-right col-sm-1">III</th>
                                    <th class="text-right col-sm-1">IV</th>
                                    <th class="text-right col-sm-1">V</th>
                                    <th class="text-right col-sm-1">VI</th>
                                    </thead>
                                </table>
                            </div>
                            <ng-include src="'./app/modules/model-portfolio/template.html'"></ng-include>
                        </div>
                    </div>
                </uib-accordion>
            </div>
        </div>
    </div><!-- panel-body -->
</div>