<div>


<div class="table-responsive">
    <div class="table-responsive scrollmenu" data-ng-repeat="assetClass in portfolio.assetClasses">
        <table class="table table-bordered table-striped responsive-utilities">
            <thead>
            <th>{{assetClass.name}}</th>
            <th class="text-right">{{assetClass.assetPercDist[0]}}</th>
            <th class="text-right">{{assetClass.assetPercDist[1]}}</th>
            <th class="text-right">{{assetClass.assetPercDist[2]}}</th>
            <th class="text-right">{{assetClass.assetPercDist[3]}}</th>
            <th class="text-right">{{assetClass.assetPercDist[4]}}</th>
            <th class="text-right">{{assetClass.assetPercDist[5]}}</th>
            </thead>
            <tbody>
            <tr>
                <td colspan="7">
                    <table data-ng-repeat="category in assetClass.categories" class="table table-bordered table-striped responsive-utilities">
                        <thead>
                        <th colspan="3">{{category.assetClasslevel2name}}</th>
                        <th class="text-right">{{category.totalPercDist[0]}}</th>
                        <th class="text-right">{{category.totalPercDist[1]}}</th>
                        <th class="text-right">{{category.totalPercDist[2]}}</th>
                        <th class="text-right">{{category.totalPercDist[3]}}</th>
                        <th class="text-right">{{category.totalPercDist[4]}}</th>
                        <th class="text-right">{{category.totalPercDist[5]}}</th>
                        </thead>
                        <tbody>
                        <tr class="row-selection-imp" data-ng-repeat="instrument in category.instruments">
                            <td>{{instrument.instrumentName}}</td>
                            <td>{{instrument.instrumentCode}}</td>
                            <td>{{instrument.instrumentISIN}}</td>
                            <td class="text-right">{{instrument.percDist[0]}}</td>
                            <td class="text-right">{{instrument.percDist[1]}}</td>
                            <td class="text-right">{{instrument.percDist[2]}}</td>
                            <td class="text-right">{{instrument.percDist[3]}}</td>
                            <td class="text-right">{{instrument.percDist[4]}}</td>
                            <td class="text-right">{{instrument.percDist[5]}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>

