<div class="ocf-tile-toggle-wrapper" data-ng-class="{ 'ocf-tile-toggle-disconnected' : !tileIsConnected }" >
    <div class="ocf-tile ocf-tile-toggle" data-ng-class="{ 'ocf-tile-toggle-fieldset-hidden' : tileHasFoldout && isCollapsed }" id="ocf-tile-toggle-{{$id}}">
        <div class="col-sm-6 ocf-tile-toggle-col-left">
            <div class="glyphicon {{tileIcon}}"></div>
            <h5>{{tileTitle}}</h5>
            <legend for="toggleTileCheckbox">{{tileDescription}}</legend>
        </div>
        <div class="col-sm-6 ocf-tile-toggle-col-right">
            <span data-ng-class="{ 'ocf-checkbox-label-without-toggle' : (hideToggle === 'true' || hideToggle === true), 'ocf-checkbox-label' : (!hideToggle || hideToggle === 'false' || hideToggle === false) }">{{selectedValueLabel}}</span>
            <div data-ng-hide="hideToggle" class="ocf-checkbox-toggle">
                <input type="checkbox" data-ng-model="value" name="toggleTileCheckbox{{tileId}}" value="value" id="toggleTileCheckbox{{tileId}}" checked="value" data-ng-change="action()">
                <label for="toggleTileCheckbox{{tileId}}">
                    <span class="sr-only"> {{selectedValueLabel}} </span>
                </label>
            </div>
        </div>
    </div>
    <fieldset class="form-horizontal" data-uib-collapse="isCollapsed" data-ng-if="tileHasFoldout" data-ng-transclude></fieldset>
</div>