<div class="ocf-tile ocf-tile-interactive">
        <input type="checkbox" class="checkbox col-sm-1" data-key-id="{{vmc.businessContactNumber}}" name="selectAllVmc" ng-model="selectAllVmc">
        <h3 style="margin-bottom:0">{{vmc.cin}} - {{vmc.company}}</h3>
    <div class="col-sm-8 col-offset-sm-1 form-group form-group-first">


        <div class="col-sm-3 data-header"><span translate>LABEL_BC_NUMBER</span></div>
        <div class="col-sm-3">{{vmc.businessContactNumber}}</div>

        <div class="col-sm-3 data-header"><span translate>Risk Profile</span></div>
        <div class="col-sm-3">{{vmc.riskProfile}}</div>


        <div class="col-sm-3 data-header"><span translate>Market Value</span></div>
        <div class="col-sm-3">{{vmc.cin}}</div>

        <!--<div class="col-sm-3 data-header"><span translate>CIN</span></div>
        <div class="col-sm-3">{{vmc.fondscode}}</div>-->


    </div>
    <div class="col-sm-3" ng-if="vmc.status == 'blocked' || vmc.status == 'deleted'">
        <img ng-if="vmc.status == 'blocked'" ng-src='app/images/blocked.jpg' />
        <img ng-if="vmc.status == 'deleted'" ng-src='app/images/deletedpng.png' />
    </div>

</div>